<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- File target for logging -->
		<target xsi:type="File"
				name="logfile"
				fileName="${processname}_${date:format=yy-MM-dd}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="14"
				concurrentWrites="true"
				keepFileOpen="true"
				layout="${date:format=dd.MM.yy HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} ${logger:shortName=false} - ${message}"
				header="${processname} v.${assembly-version} started on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}."
				footer="${processname} v.${assembly-version} stopped on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}."/>

		<!-- NLogViewer target for remote logging -->
		<target xsi:type="NLogViewer"
				name="viewer"
				includeSourceInfo="true"
				newLine="true"
				address="tcp4://127.0.0.1:9999"/>

		<!-- Colored console target for logging -->
		<target xsi:type="ColoredConsole"
				name="console"
				layout="${date:format=dd.MM.yy HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} ${logger:shortName=false} - ${message}"
				header="${processname} v.${assembly-version} started on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}."
				footer="${processname} v.${assembly-version} stopped on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}."/>
	</targets>

	<rules>
		<!-- Log all levels to console -->
		<logger name="*" minlevel="Trace" writeTo="console" />
		<!-- Log all levels to file -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<!-- Log all levels to NLogViewer -->
		<logger name="*" minlevel="Trace" writeTo="viewer" />
	</rules>
</nlog>